body {
    background-color: #f7f7f7;
    background-image: repeating-linear-gradient(
        0deg,
        #f7f7f7,
        #f7f7f7 10px,
        #f2f2f2 10px,
        #f2f2f2 20px
    );
    font-family: Georgia, serif;
    color: #222;
    margin: 0;
    padding: 20px;
}



h1 {
    color: #003366;
    text-align: center;
}

ul {
    list-style-type: square;
    padding-left: 20px;
    font-size: 18px;
}